@import url(css-reset-josh.css);

.gameboard {
  display: grid;
  width: 225px;
  grid-template-columns: repeat(3, 1fr);
}

[class^="row"] {
  background-color: aquamarine;
  height: 75px;
  width: 75px;
}

.zero,
.one {
  border-top: none;
  border-bottom: 4px solid black;
}
.zero:not([data-column="2"]),
.one:not([data-column="2"]),
.two:not([data-column="2"]) {
  border-right: 4px solid black;
}
