@import url(css-reset-josh.css);

header {
  margin: 15px auto;
  text-align: center;
}

button {
  background-color: transparent;
  border-radius: 30px;
  margin-top: 10px;
}

.gameboard {
  display: grid;
  width: 600px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
}

[class^="row"] {
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 8rem;
}

.zero,
.one {
  border-top: none;
  border-bottom: 4px solid black;
}
.zero:not([data-column="2"]),
.one:not([data-column="2"]),
.two:not([data-column="2"]) {
  border-right: 4px solid black;
}

.result {
  height: 45px;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 2rem;
  color: green;
}
